<div>
  <span *ngFor=" let topping of toppingsList;
  ">
    <input type="checkbox" name={{topping}} id={{topping}} (change)="changeSelection(topping)"> {{topping | uppercase }}
  </span>
</div>
<br>
<ng-container *ngIf="total <= 20; then first; else second">
</ng-container>
<ng-template #first>
  <div>
    <div class="main">Total : {{ total | currency: 'USD' }}</div>
  </div>
</ng-template>
<ng-template #second>
  <div>
    <div class="main">Total : {{ total | currency: 'USD' }}
      <div><b>Special offer </b>- <br>
        if your order exceeds $20 :
        Would you like a discount of 10%?
        or would you like a $3 off this order?
      </div>
    </div>
  </div>
</ng-template>
<br>