<div>
  <span *ngFor=" let topping of toppingsList;
  ">
    <input type="checkbox" name={{topping}} id={{topping}} (change)="changeSelection(topping)"> {{topping}}
  </span>
</div>
<br>
<ng-container *ngIf="total <= 20; then first; else second">
</ng-container>
<ng-template #first>
  <div>
    <p>Total : {{total}}</p>
  </div>
</ng-template>
<ng-template #second>
  <div>
    <p>Total : {{total}}</p>
    <p>Would you like a discount of 10%?</p>
    <p>or would you like a $3 off this order?</p>
  </div>
</ng-template>




<br>